In [ ]:
Webscrapping :Assignment2: Priyanka Laha

In [10]:
#!pip install selenium

Q1: Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” 
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [74]:
#Importing required packages
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [75]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [76]:
url='https://www.naukri.com/'
driver.get(url)#getting the url

In [77]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
#search_job
search_job.send_keys("Data Analyst")#Search job type by id

In [78]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
#search_loc
search_loc.send_keys("Bangalore")#Search location by id

In [79]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
#search_btn
search_btn.click()#Search button click by xpath

In [80]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")#Scrapping job title by xpath
#titles_tags
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)

job_titles

['Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Business Analyst- Data Science',
 'Business/Data Analyst - Colleague Experience & Technology',
 'Senior Data Analyst',
 'Senior Data Analyst - Einstein Analytics',
 'Senior Specialist - Data Analyst',
 'Data Analyst - Python',
 'Data Analyst - 0-2 years (6 month contract)',
 'Business/Data Analyst - SSE/LA',
 'Senior Data Analyst',
 'SQL Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst',
 'Data Analyst',
 'Immediate Hiring For Data Analyst - Bangalore location',
 'Data Analyst - Transportation',
 'DMI Hiring Data Analyst in Bangalore',
 'Data Analyst/Business Analyst-Gurgaon/Bangalore/Mumbai (only Females)']

In [81]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")#Scrapping Company details by xpath
#company_tags
company_name=[]
for i in company_tags:
    company_name.append(i.text)

company_name

['CAREERLABS TECHNOLOGIES PRIVATE LIMITED',
 'Tata Consultancy Services Ltd.',
 'Nx-DT',
 'Evalueserve.com Pvt. Ltd',
 'Vmware',
 'Telstra India Pvt Ltd',
 'Enquero',
 'Philips India Limited',
 'Suyati Technologies Pvt Ltd',
 'NIUM INDIA PRIVATE LIMITED',
 'CGI Information Systems and Management Consultants',
 'Liventus, Inc.',
 'NetApp',
 'Trigent Software',
 'Trigent Software',
 'ENCORA INNOVATION LABS INDIA PRIVATE LIMITED',
 'Wissen Technology',
 'Gojek Tech',
 'DMI Innovations Pvt. Ltd',
 'India Medtronic Pvt. Ltd,.']

In [82]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")#Scrapping experience by xpath
#company_tags
experience=[]
for i in experience_tags:
    experience.append(i.text)
experience

['0-3 Yrs',
 '4-8 Yrs',
 '10-16 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '7-8 Yrs',
 '3-5 Yrs',
 '4-8 Yrs',
 '4-6 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '5-8 Yrs',
 '1-6 Yrs',
 '2-5 Yrs',
 '4-8 Yrs',
 '1-4 Yrs']

In [83]:
DatasAnalyst=pd.DataFrame({})#Creating dataframe
DatasAnalyst['Job Title']=job_titles[:10]
DatasAnalyst['Company']=company_name[:10]
DatasAnalyst['Experience']=experience[:10]  
DatasAnalyst

,Job Title,Company,Experience
0,Data Analyst,CAREERLABS TECHNOLOGIES PRIVATE LIMITED,0-3 Yrs
1,Data Analyst,Tata Consultancy Services Ltd.,4-8 Yrs
2,Senior Data Analyst,Nx-DT,10-16 Yrs
3,Senior Business Analyst- Data Science,Evalueserve.com Pvt. Ltd,2-7 Yrs
4,Business/Data Analyst - Colleague Experience &...,Vmware,3-8 Yrs
5,Senior Data Analyst,Telstra India Pvt Ltd,7-8 Yrs
6,Senior Data Analyst - Einstein Analytics,Enquero,3-5 Yrs
7,Senior Specialist - Data Analyst,Philips India Limited,4-8 Yrs
8,Data Analyst - Python,Suyati Technologies Pvt Ltd,4-6 Yrs
9,Data Analyst - 0-2 years (6 month contract),NIUM INDIA PRIVATE LIMITED,0-2 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter 
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done 
manually.

In [84]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [85]:
url='https://www.naukri.com/'
driver.get(url)

In [86]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
#search_job
search_job.send_keys("Data Scientist")

In [87]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
#search_loc
search_loc.send_keys("Bangalore")

In [88]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
#search_btn
search_btn.click()

In [89]:
job_opening_urls=[]
url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in url:
    job_opening_urls.append(i.get_attribute('href'))
job_opening_urls

['https://www.naukri.com/job-listings-data-scientist-senior-business-analyst-lead-analyst-evalueserve-com-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-2-to-7-years-110821005065?src=jobsearchDesk&sid=16288480406203764&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-signify-bangalore-bengaluru-4-to-9-years-120821500683?src=jobsearchDesk&sid=16288480406203764&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-analytics-luxoft-bangalore-bengaluru-5-to-10-years-120821501307?src=jobsearchDesk&sid=16288480406203764&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bangalore-bengaluru-5-to-10-years-110821906281?src=jobsearchDesk&sid=16288480406203764&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-3-to-6-years-120821907824?src=jobsearchDesk&sid=16288480406203764&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-smiths-detection-systems-private-limited-bangalore-bengaluru-8-to-10-years-260721903257?src=jobsearchDesk&sid=16288480406203764&xp=6&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-transorg-solutions-services-p-ltd-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-4-to-6-years-160721005471?src=jobsearchDesk&sid=16288480406203764&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-philips-india-limited-bangalore-bengaluru-8-to-10-years-060821501599?src=jobsearchDesk&sid=16288480406203764&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kpo-talentco-search-pvt-ltd-mumbai-bangalore-bengaluru-delhi-ncr-6-to-10-years-110821908145?src=jobsearchDesk&sid=16288480406203764&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-talentco-search-pvt-ltd-mumbai-delhi-ncr-bangalore-bengaluru-6-to-10-years-130821901245?src=jobsearchDesk&sid=16288480406203764&xp=10&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-retail-industry-ibm-india-pvt-limited-bangalore-bengaluru-7-to-10-years-100821908363?src=jobsearchDesk&sid=16288480406203764&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-superior-group-bangalore-bengaluru-6-to-11-years-100821500375?src=jobsearchDesk&sid=16288480406203764&xp=12&px=1',
 'https://www.naukri.com/job-listings-advanced-data-scientist-exxon-mobil-corporation-bangalore-bengaluru-10-to-15-years-120821500623?src=jobsearchDesk&sid=16288480406203764&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-travel-centric-technology-bangalore-bengaluru-6-to-11-years-110821500209?src=jobsearchDesk&sid=16288480406203764&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-with-sas-musigma-business-solutions-private-limited-bangalore-bengaluru-3-to-8-years-130821002128?src=jobsearchDesk&sid=16288480406203764&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-cignex-datamatics-technologies-limited-bangalore-bengaluru-7-to-12-years-120821005670?src=jobsearchDesk&sid=16288480406203764&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-natural-language-processing-hyderabad-location-clifford-chance-business-services-private-limited-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-5-to-10-years-120821000435?src=jobsearchDesk&sid=16288480406203764&xp=17&px=1',
 'https://www.naukri.com/job-listings-looking-for-data-scientist-for-chennai-location-intelizign-engineering-services-pvt-ltd-hyderabad-secunderabad-chennai-bangalore-bengaluru-3-to-7-years-110821004891?src=jobsearchDesk&sid=16288480406203764&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-120821005878?src=jobsearchDesk&sid=16288480406203764&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-cognizant-technology-solutions-india-pvt-ltd-chennai-bangalore-bengaluru-10-to-12-years-090821904407?src=jobsearchDesk&sid=16288480406203764&xp=20&px=1']

In [94]:
job_titles=[]
for i in job_opening_urls:
    driver.get(i)
    try:
        job_title=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(job_title.text)
    except:
        pass
len(job_titles)

16

In [95]:
location=[]
for i in job_opening_urls:
    driver.get(i)
    try:
        loc=driver.find_element_by_xpath("//div[@class='loc']//span[1]")
        location.append(loc.text)
    except:
        pass
        
len(location)

16

In [96]:
discription=[]
for i in job_opening_urls:
    driver.get(i)
    try:
        des=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
        discription.append(des.text.replace("\n","").strip())
    except:
        pass
len(discription)

16

In [97]:
companyname=[]
for i in job_opening_urls:
    driver.get(i)
    try:
        cname=driver.find_element_by_xpath("//div[@class='jd-header-comp-name']")
        companyname.append(cname.text)
    except:
        pass
len(companyname)

16

In [98]:
DatasScientist=pd.DataFrame({})
DatasScientist['Job Title']=job_titles[:10]
DatasScientist['Company Name']=companyname[:10]
DatasScientist['Location']=location[:10]  
DatasScientist['Description']=discription[:10]
DatasScientist

,Job Title,Company Name,Location,Description
0,Data Scientist- Senior Business Analyst/Lead A...,Evalueserve.com Pvt. Ltd3.4(412 Reviews),"Gurgaon/Gurugram, Bangalore/Bengaluru",Job DescriptionUnderstand and design analytica...
1,Senior Data Scientist,Signify4.0(262 Reviews),Bangalore/Bengaluru,"What you ll doResearch, design and prototype r..."
2,"Senior Data Scientist (Analytics),",Luxoft4.4(73 Reviews),Bangalore/Bengaluru,Data and Analytics Proposal Responses for Cros...
3,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Roles and ResponsibilitiesWell-versed in quant...
4,Senior Data Scientist,Philips India Limited4.0(510 Reviews),Bangalore/Bengaluru,"Be a part of the Enterprise IT , Information a..."
5,Senior Data Scientist - KPO,TalentCo Search Pvt Ltd,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",- Ability to understand a problem statement an...
6,Senior Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",- Ability to understand a problem statement an...
7,Senior/ Lead Data Scientist,Superior Group4.6(14 Reviews),Bangalore/Bengaluru,Provide advanced analytical capabilities to su...
8,Advanced Data Scientist,Exxon Mobil Corporation3.7(179 Reviews),Bangalore/Bengaluru,Job Role ResponsibilitiesBe a part of a growin...
9,Data Scientist,Travel Centric Technology4.2(2 Reviews),Bangalore/Bengaluru,We are looking for a Data Scientist with 6+ ye...

 3: In this question you have to scrape data using the filters available on the 
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field 

3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done 
manually.

In [110]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [111]:
url='https://www.naukri.com/'
driver.get(url)

In [112]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
#search_job
search_job.send_keys("Data Scientist")

In [113]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
#search_btn
search_btn.click()

In [115]:
filter_loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
#search_btn
filter_loc.click()

In [116]:
filter_sal=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
#search_btn
filter_sal.click()

In [117]:
tle_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#titles_tags
job_tit=[]
for i in tle_tags:
    job_tit.append(i.text)

len(job_tit)

20

In [118]:
comp_tags=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']//a[1]")
#company_tags
comp_name=[]
for i in comp_tags:
    comp_name.append(i.text)

len(comp_name)

20

In [119]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
#company_tags
comp_location=[]
for i in loc_tags:
    comp_location.append(i.text)

len(comp_location)

20

In [120]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
#company_tags
exp_req=[]
for i in exp_tags:
    exp_req.append(i.text)

len(exp_req)

20

In [121]:
DatasScientist_Delhi=pd.DataFrame({})
DatasScientist_Delhi['Job Title']=job_tit [:10]
DatasScientist_Delhi['Company Name']=comp_name[:10]
DatasScientist_Delhi['Location']=comp_location[:10]  
DatasScientist_Delhi['Experience']=exp_req[:10]
DatasScientist_Delhi

,Job Title,Company Name,Location,Experience
0,Data Scientist Internship,iHackers Inc,New Delhi,0-1 Yrs
1,Data Scientist,CBRE South Asia Pvt Ltd,Gurgaon/Gurugram,2-4 Yrs
2,Data Scientist / Sr. Data Scientist,WEGARNER SOLUTIONS PRIVATE LIMITED,"Noida, Pune, Mumbai (All Areas)",0-5 Yrs
3,Data Scientist,Agreeya,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs
5,Data Scientist,Experiture,"Kolkata, Hyderabad/Secunderabad, Ahmedabad, Ba...",5-7 Yrs
6,Immediate Openings For DATA Scientist with 6 T...,Entune IT Consulting Private Limited,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",5-8 Yrs
7,Data Scientist- Image Processing & Computer Vi...,ProtoGene Consulting Private Limited,Delhi / NCR,4-7 Yrs
8,Senior Data Scientist - Noida,Optum Global Solutions (India) Private Limited,Noida,2-6 Yrs
9,Data Scientist,R Systems International Ltd.,Noida(Sector-59 Noida),5-10 Yrs

 Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” 
in “location” field.
3. Then click the search button. You will land up in the below page
4.. Then scrape the data for the first 10 jobs results you get in the above shown 
page.
5.. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done 
manually.

In [191]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [192]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [193]:
search_email=driver.find_element_by_id('InlineUserEmailSignUp')
search_email
search_email.send_keys("priyanka.ece.08@gmail.com")

In [194]:
search_email=driver.find_element_by_id('InlineUserPasswordSignUp')
search_email
search_email.send_keys("Test@123")

In [195]:
continue_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn signupSubmit css-8i7bc2']")
#search_btn
continue_btn.click()

In [198]:
continue_btn=driver.find_element_by_xpath("//button[@class='d-flex align-items-center justify-content-center order-1 order-md-2 mr-auto mr-md-0 p-0 LockedHomeHeaderStyles__signInButton']")
#search_btn
continue_btn.click()

In [199]:
email=driver.find_element_by_id('userEmail')
email
email.send_keys("priyanka.ece.08@gmail.com")

In [200]:
search_email=driver.find_element_by_id('userPassword')
search_email
search_email.send_keys("Test@123")

In [201]:
continue_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
#search_btn
continue_btn.click()

In [203]:
search_btn=driver.find_element_by_xpath("//button[@class='p-0 search__SearchStyles__iconBtn']")
#search_btn
search_btn.click()

In [210]:
job_search=driver.find_element_by_id("scKeyword")
#search_job
job_search.send_keys("Data scientist ")

In [211]:
loc=driver.find_element_by_id("scLocation")
#search_loc
loc.send_keys("Noida")

In [212]:
arrow_btn=driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm search__SearchStyles__searchKeywordSubmit']")
#search_btn
arrow_btn.click()

In [217]:
company_t=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
#company_tags
CompanyName=[]
for i in company_t:
    CompanyName.append(i.text)

len(CompanyName)

30

In [223]:
rating=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-x75kgh e1rrn5ka3']")
#company_tags
company_rating=[]
for i in rating:
    company_rating.append(i.text)

len(company_rating)

30

In [224]:
posted=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
#company_tags
job_posted=[]
for i in posted:
    job_posted.append(i.text)

len(job_posted)

30

In [225]:
Glassdoor_job=pd.DataFrame({})
Glassdoor_job['Company']=CompanyName[:10]
Glassdoor_job['Rating']=company_rating[:10]
Glassdoor_job['Posted']=job_posted[:10]  
Glassdoor_job

                                Company Rating Posted
0  Liberin Technologies Private Limited            2d
1                          Pixel Vision    3.7    24h
2                        Biz2Credit Inc           10d
3                                 Crowe    4.2     8d
4          Salasar New Age Technologies    3.8   30d+
5                       Newgen Software    3.0    24h
6                              Techlive    4.1     1d
7          Salasar New Age Technologies    4.2    22d
8                       British Council    3.7    10d
9                     NEC Opportunities            2d

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and 
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page 
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of 
the page , then click on it.
. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [122]:
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.flipkart.com/'
driver.get(url)

In [123]:
cross_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
#search_btn
cross_btn.click()

In [124]:
search_glass=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
#search_job
search_glass.send_keys("sunglasses")

In [125]:
btn_glass=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
#search_btn
btn_glass.click()

In [127]:
glass_urls=[]
url2=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
for i in url2:
    glass_urls.append(i.get_attribute('href'))
glass_urls

['https://www.flipkart.com/wrogn-wayfarer-sunglasses/p/itm7f7e238482e05?pid=SGLFVHMBY39XKD3K&lid=LSTSGLFVHMBY39XKD3KZ8TPD6&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyKQoc728YIkkPMkkZ1SGEGOdb3r2Qgjr7uMuOFvGmrNtw%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/royal-son-round-sunglasses/p/itm5b334314a720f?pid=SGLGYPHHV2VGDY8D&lid=LSTSGLGYPHHV2VGDY8DPWN2IS&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyJJf%2BfQfsT3IjPLkQ1nssKq6BQD5K%2FzS5Py3Ku8eiuwrA%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/elligator-round-sunglasses/p/itm3c981fc444358?pid=SGLFPHP5BVBJTCDB&lid=LSTSGLFPHP5BVBJTCDB7P4T6G&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_3&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFPHP5BVBJTCDB.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-rectangular-sunglasses/p/itmf3yhd8wephwxh?pid=SGLES2WMF6CH5GYF&lid=LSTSGLES2WMF6CH5GYFXRVSZN&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_4&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLES2WMF6CH5GYF.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/kingsunglasses-wayfarer-sunglasses/p/itm9c7287be7c247?pid=SGLG2ZY9UERPGCZX&lid=LSTSGLG2ZY9UERPGCZXOWQRMA&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_5&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLG2ZY9UERPGCZX.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itmf79dqjqucq9f3?pid=SGLF79DQR8NQAT2W&lid=LSTSGLF79DQR8NQAT2W0MLSHN&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_6&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLF79DQR8NQAT2W.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/piraso-aviator-sunglasses/p/itm70504d13b7992?pid=SGLFV8YYCEA8RWAC&lid=LSTSGLFV8YYCEA8RWACIACICJ&marketplace=FLIPKART&q=sunglasses&store=26x&spotlightTagId=BestsellerId_26x&srno=s_1_7&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFV8YYCEA8RWAC.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/royal-son-round-sunglasses/p/itm08ee366f541f9?pid=SGLFZJV9XTPRHAZQ&lid=LSTSGLFZJV9XTPRHAZQ48MYNV&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_8&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyL5MvLR86%2Bgn9fl2ayHNygyMevXC2n4W%2FSZ1Xdiw8pkgg%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm04d9621b98c78?pid=SGLFG94C8PAHZ3SH&lid=LSTSGLFG94C8PAHZ3SHAFCJXO&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_9&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFG94C8PAHZ3SH.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/sunbee-round-sunglasses/p/itmb550c957e1689?pid=SGLFUHKVTHSJMKTM&lid=LSTSGLFUHKVTHSJMKTMTM6LJ0&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_10&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFUHKVTHSJMKTM.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/piraso-aviator-sunglasses/p/itma9ed6fe9b3b86?pid=SGLFZJQUNAHYUCAS&lid=LSTSGLFZJQUNAHYUCASKDXKTE&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_11&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFZJQUNAHYUCAS.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/royal-son-retro-square-sunglasses/p/itm7c48028a023cc?pid=SGLFPBJEBM3UUWZP&lid=LSTSGLFPBJEBM3UUWZPQWDIEK&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_12&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyJQ0x5w1Dm3fzogOyBmRQi6wZgUFwG6gkrIZAwj1%2Bqxmw%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/kingsunglasses-round-sunglasses/p/itmfb9juuhzg79rv?pid=SGLFB9GQVKJZGNDG&lid=LSTSGLFB9GQVKJZGNDGMUY598&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_13&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFB9GQVKJZGNDG.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/phenomenal-retro-square-sunglasses/p/itm05605e75ed801?pid=SGLFUXYAXFHYQAK4&lid=LSTSGLFUXYAXFHYQAK4VF4MKG&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_14&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFUXYAXFHYQAK4.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/shaah-collections-rectangular-sunglasses/p/itm201340b1c3e13?pid=SGLFXWGV5TGFFSPX&lid=LSTSGLFXWGV5TGFFSPXSORUG9&marketplace=FLIPKART&q=sunglasses&store=26x&spotlightTagId=TrendingId_26x&srno=s_1_15&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFXWGV5TGFFSPX.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/royal-son-aviator-sunglasses/p/itme479614d796cc?pid=SGLED3YH6AQQFTJT&lid=LSTSGLED3YH6AQQFTJTD9JARU&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_16&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyLzrwxpoixACb28x62S8mQMtt3BnNSpHLMZAgVidQKZ1w%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm3d6674f888d98?pid=SGLFKYGHKP4BXEMH&lid=LSTSGLFKYGHKP4BXEMHAL1IED&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_17&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFKYGHKP4BXEMH.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itmf79dqccyjbdez?pid=SGLF79DQNHPY9N6U&lid=LSTSGLF79DQNHPY9N6UHBMJVE&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_18&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLF79DQNHPY9N6U.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm71bfd7c0bb72a?pid=SGLFKYGHRDPNJGGG&lid=LSTSGLFKYGHRDPNJGGGVIF0IZ&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_19&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFKYGHRDPNJGGG.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/wrogn-aviator-sunglasses/p/itm7fa19a4b466b9?pid=SGLFVHMCXQNMYGTY&lid=LSTSGLFVHMCXQNMYGTYZI7OT5&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_20&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyLPliyjh3I1d1plp8kuPVhuJjTQmxBYEbEYFVQ0Qc4UpQ%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itma9864babc060c?pid=SGLFG94CV3EVXTZE&lid=LSTSGLFG94CV3EVXTZEPQ88ZR&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_21&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFG94CV3EVXTZE.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-rectangular-sunglasses/p/itmc07cb7e8aec50?pid=SGLFSZV6PXGZGZGX&lid=LSTSGLFSZV6PXGZGZGXNWELSX&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_22&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFSZV6PXGZGZGX.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-aviator-sunglasses/p/itmfcynnapsxpzxv?pid=SGLES2WMN7PCAERZ&lid=LSTSGLES2WMN7PCAERZZTPY54&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_23&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLES2WMN7PCAERZ.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/royal-son-over-sized-sunglasses/p/itmc7b1876b4b36d?pid=SGLFNFU98QFFTR2C&lid=LSTSGLFNFU98QFFTR2CJNNUEV&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_24&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyIn0wRm%2FvxKqduevSDSZGycuhNt6Zc2i8nSwJt731ciwA%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/gansta-aviator-sunglasses/p/itmf7hmfp5r8hcdb?pid=SGLF7HGZKHHSTQ8H&lid=LSTSGLF7HGZKHHSTQ8H5VK4WX&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_25&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLF7HGZKHHSTQ8H.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/rozzetta-craft-retro-square-sunglasses/p/itmf248ba5b3a895?pid=SGLFZFZNAQNZHYB7&lid=LSTSGLFZFZNAQNZHYB7GZ3YO5&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_26&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFZFZNAQNZHYB7.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fastrack-sports-sunglasses/p/itmf79dpvhr2g5hp?pid=SGLF79DPDUUZSC2E&lid=LSTSGLF79DPDUUZSC2ELCU1X2&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_27&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLF79DPDUUZSC2E.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/royal-son-rectangular-sunglasses/p/itmfhmsrkchzyr9y?pid=SGLFHHV5PXK3GZZ3&lid=LSTSGLFHHV5PXK3GZZ346BCCJ&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_28&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyJprovY0iWjSOGVydjOR27nWnlZDTxyWHlmP7SqKdutZw%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/silver-kartz-wayfarer-sunglasses/p/itmf3ykz37jypbdd?pid=SGLEXSP4CY6G2ZTY&lid=LSTSGLEXSP4CY6G2ZTYGHVAAN&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_29&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLEXSP4CY6G2ZTY.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/hipe-round-sunglasses/p/itm05dde0582be36?pid=SGLFQETNDUT4ZRPX&lid=LSTSGLFQETNDUT4ZRPXSFWXQA&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_30&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFQETNDUT4ZRPX.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/kingsunglasses-rectangular-sunglasses/p/itm7a1f2d0b309e9?pid=SGLGYFFNQNFTBBVU&lid=LSTSGLGYFFNQNFTBBVUXSSV7U&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_31&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLGYFFNQNFTBBVU.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/royal-son-aviator-sunglasses/p/itm919a2187f86cb?pid=SGLGYPHGYXQKAJYW&lid=LSTSGLGYPHGYXQKAJYWND6QYB&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_32&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyLqYYgaynyq%2Bz7JTGNhrK6y%2FJqXp0iogTwmEliczgA1tQ%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fravy-wayfarer-sunglasses/p/itmfgfawyeuxjca4?pid=SGLFGFYPYHHANNSH&lid=LSTSGLFGFYPYHHANNSHUS4FPA&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_33&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFGFYPYHHANNSH.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/elligator-round-sunglasses/p/itm88859d649c827?pid=SGLFBB8BVXGUHYEY&lid=LSTSGLFBB8BVXGUHYEYK1NPCL&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_34&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFBB8BVXGUHYEY.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/kingsunglasses-rectangular-sunglasses/p/itm64b34ea1657a8?pid=SGLFY9FKJNVPJWGY&lid=LSTSGLFY9FKJNVPJWGY0JURHX&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_35&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFY9FKJNVPJWGY.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/royal-son-retro-square-sunglasses/p/itm212388ef7fc65?pid=SGLFNFU4MMKYSCFH&lid=LSTSGLFNFU4MMKYSCFHCNIBKD&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_36&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyJ4ImV73VLalwGo8782NAyLl9RyuLAmn1gKqb5FjUmCnQ%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/phenomenal-retro-square-sunglasses/p/itm1ead9ddbbb3d8?pid=SGLFUBFWNBFEAVD3&lid=LSTSGLFUBFWNBFEAVD31E0HIC&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_37&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFUBFWNBFEAVD3.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/fravy-retro-square-sunglasses/p/itm04fda6395be09?pid=SGLFVSMZSXHDR3QG&lid=LSTSGLFVSMZSXHDR3QGLQ4IJX&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_38&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFVSMZSXHDR3QG.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/shaah-collections-round-sunglasses/p/itmff9749a242cb7?pid=SGLFSHGW3ZF7QTJZ&lid=LSTSGLFSHGW3ZF7QTJZNP12XI&marketplace=FLIPKART&q=sunglasses&store=26x&spotlightTagId=TrendingId_26x&srno=s_1_39&otracker=search&otracker1=search&fm=SEARCH&iid=3dc469a3-1009-47b2-baa9-31785d1a591b.SGLFSHGW3ZF7QTJZ.SEARCH&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0',
 'https://www.flipkart.com/royal-son-retro-square-sunglasses/p/itmc284e2fbc6fa7?pid=SGLFUKA4TEK8YH7G&lid=LSTSGLFUKA4TEK8YH7GEVKCK4&marketplace=FLIPKART&q=sunglasses&store=26x&srno=s_1_40&otracker=search&otracker1=search&fm=SEARCH&iid=en_7bokWOoG6qnmxdktFltJqJN%2BdQkT51OxsZBWZlnsYyJjhNy6fYjYED9wYptGE9ab7kJqLHg5Ym7%2Bc1XbeMXYGw%3D%3D&ppt=hp&ppn=homepage&ssid=e05gvetz400000001628848907989&qH=2cc465e3eef5bff0']

In [383]:
sunglass=[]
for i in glass_urls:
    driver.get(i)
    try:
        sun=driver.find_element_by_xpath("//h1[@class='yhB1nd']//span[1]")
        sunglass.append(sun.text)
    except:
        pass
len(sunglass)

40

In [384]:
description=[]
for i in glass_urls:
    driver.get(i)
    try:
        des=driver.find_element_by_xpath("//span[@class='B_NuCI']")
        description.append(des.text)
    except:
        pass
len(description)

40

In [386]:
price=[]
for i in glass_urls:
    driver.get(i)
    try:
        pi=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price.append(pi.text)
    except:
        pass
len(price)

40

In [387]:
discount=[]
for i in glass_urls:
    driver.get(i)
    try:
        di=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']//span")
        discount.append(di.text)
    except:
        pass
len(discount)

40

In [388]:
search_glass=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
#search_job
search_glass.send_keys("sunglasses")

In [390]:
btn_glass=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
#search_btn
btn_glass.click()

In [391]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
#search_btn
next_btn.click()

In [392]:
glass_urls2=[]
url3=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
for i in url3:
    glass_urls2.append(i.get_attribute('href'))
len(glass_urls2 )

40

In [393]:
#sunglass=[]
for i in glass_urls2:
    driver.get(i)
    try:
        sun=driver.find_element_by_xpath("//h1[@class='yhB1nd']//span[1]")
        sunglass.append(sun.text)
    except:
        pass
len(sunglass)

80

In [394]:
for i in glass_urls2:
    driver.get(i)
    try:
        des=driver.find_element_by_xpath("//span[@class='B_NuCI']")
        description.append(des.text)
    except:
        pass
len(description)

80

In [395]:
for i in glass_urls2:
    driver.get(i)
    try:
        pi=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price.append(pi.text)
    except:
        pass
len(price)

80

In [396]:

for i in glass_urls2:
    driver.get(i)
    try:
        di=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']//span")
        discount.append(di.text)
    except:
        pass
len(discount)

80

In [397]:
search_glass=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
#search_job
search_glass.send_keys("sunglasses")

In [398]:
btn_glass=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
#search_btn
btn_glass.click()

In [402]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
#search_btn
next_btn.click()

In [403]:
next_btn2=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
#search_btn
next_btn2.click()

In [404]:
glass_urls3=[]
url4=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
for i in url4:
    glass_urls3.append(i.get_attribute('href'))
len(glass_urls3 )

40

In [405]:
for i in glass_urls3:
    driver.get(i)
    try:
        sun=driver.find_element_by_xpath("//h1[@class='yhB1nd']//span[1]")
        sunglass.append(sun.text)
    except:
        pass
len(sunglass)

120

In [406]:
for i in glass_urls3:
    driver.get(i)
    try:
        des=driver.find_element_by_xpath("//span[@class='B_NuCI']")
        description.append(des.text)
    except:
        pass
len(description)

120

In [407]:
for i in glass_urls3:
    driver.get(i)
    try:
        pi=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price.append(pi.text)
    except:
        pass
len(price)

120

In [408]:

for i in glass_urls3:
    driver.get(i)
    try:
        di=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']//span")
        discount.append(di.text)
    except:
        pass
len(discount)

120

In [409]:
Flipkart_glass=pd.DataFrame({})
Flipkart_glass['Sunglass']=sunglass[:100]
Flipkart_glass['Description']=description[:100]
Flipkart_glass['Price']=price[:100]  
Flipkart_glass['Discount']=discount[:100]
Flipkart_glass

,Sunglass,Description,Price,Discount
0,kingsunglasses,UV Protection Rectangular Sunglasses (55) (Fo...,₹349,76% off
1,Fastrack,UV Protection Aviator Sunglasses (Free Size) ...,"₹1,479",26% off
2,Elligator,UV Protection Round Sunglasses (54) (For Men ...,₹331,74% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size) ...,₹314,80% off
4,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹709,29% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Rectangular Sunglasse...",₹664,55% off
96,ROYAL SON,UV Protection Wayfarer Sunglasses (55) (For M...,₹248,80% off
97,Crackers,UV Protection Aviator Sunglasses (55) (For Me...,₹170,82% off
98,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹305,84% off
99,Wrogn,UV Protection Aviator Sunglasses (60) (For Me...,"₹1,009",68% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
These are 
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews

In [135]:
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [136]:
all_review=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span")
#search_btn
all_review.click()

In [137]:
page_url=[]
url=driver.find_elements_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a")
#len(url)
for i in url:
    page_url.append(i.get_attribute("href"))
page_url

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [139]:
rating_star=[]
for i in page_url:
    driver.get(i)
    try:
        rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            rating_star.append(i.text)
    except:
        rating_star.append("--")

#rating_star

In [140]:
review_summary=[]
for i in page_url:
    driver.get(i)
    try:
        rev_sum=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in rev_sum:
            review_summary.append(i.text)
    except:
        review_summary.append("--")

#review_summary

In [142]:
review_description=[]
for i in page_url:
    driver.get(i)
    try:
        full_rev=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for i in full_rev:
            review_description.append(i.text.replace("\n"," ").strip())
    except:
        review_description.append("--")
    

#review_description

In [143]:
Flipkart_review=pd.DataFrame({})
Flipkart_review['Rating']=rating_star[:100]
Flipkart_review['Review Summary']=review_summary[:100]
Flipkart_review['Review']=review_description[:100]  
Flipkart_review

,Rating,Review Summary,Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone. And I truly don’...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Just wow!,The ultimate performance Camera is superb The ...
98,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
99,5,Excellent,A perfect phone and a good battery super camer...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code 
only and not manually

In [443]:
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.flipkart.com/'
driver.get(url)

In [444]:
cross_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
#search_btn
cross_btn.click()

In [445]:
search_sneaker=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
#search_job
search_sneaker.send_keys("sneakers")

In [446]:
btn_sne=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
#search_btn
btn_sne.click()

In [447]:
sneaker_url=[]
url1=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
#len(url)
for i in url1:
    sneaker_url.append(i.get_attribute("href"))
sneaker_url

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=10',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2']

In [448]:
Brand=[]
for i in sneaker_url:
    driver.get(i)
    try:
        bn=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for i in bn:
            Brand.append(i.text)
    except:
        pass

len(Brand)

440

In [452]:
Product_des=[]
for i in sneaker_url:
    driver.get(i)
    try:
        prd_des=driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]")
        for i in prd_des:
            Product_des.append(i.text)
    except:
        pass

len(Product_des)

440

In [453]:
Product_price=[]
for i in sneaker_url:
    driver.get(i)
    try:
        pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for i in pri:
            Product_price.append(i.text)
    except:
        pass

len(Product_price)

440

In [466]:
Product_discount=[]
for i in sneaker_url:
    driver.get(i)
    try:
        descnt=driver.find_elements_by_xpath("//a[@class='_3bPFwb']//div[3]")
        for i in descnt:
            Product_discount.append(i.text)
    except:
        Product_discount.append('--')
    

len(Product_discount)

In [469]:
Flipkart_Sneaker=pd.DataFrame({})
Flipkart_Sneaker['Brand']=Brand[:100]
Flipkart_Sneaker['Product description']=Product_des[:100]
Flipkart_Sneaker['Price']=Product_price[:100]
Flipkart_Sneaker['Discount']=Product_discount[:100]  
Flipkart_Sneaker

,Brand,Product description,Price,Discount
0,DUCATI,Sneakers For Men,"₹1,289",52% off
1,luxury fashion,Thunder Sneakers For Men,₹449,50% off
2,Numenzo,Sneakers For Men,₹378,62% off
3,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,75% off
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,88% off
...,...,...,...,...
95,India hub,Unique & Perfect Collection Combo Pack of 02 S...,₹420,40% off
96,Axter,MESTO Sneakers For Men,₹845,77% off
97,PUMA,Combo Pack of 2 New Fashion Casual Loafers Sne...,₹498,57% off
98,ORICUM,Simha IDP Sneakers For Men,"₹1,115",62% off
99,Labbin,Thunder Sneakers For Men,"₹1,437",71% off

 Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in 
the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of 
the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [189]:
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.myntra.com/shoes'
driver.get(url)

In [190]:
#filter_price=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
#search_btn
#filter_price.click()

# ******Rs. 6649 to Rs. 13099 was not in filter so I have choose to do Rs. 5319 to Rs. 10479'*****

In [191]:
filter_price=driver.find_element_by_xpath("//label[text()='Rs. 5319 to Rs. 10479']")
#search_btn
filter_price.click()

In [192]:
filter_col=driver.find_element_by_xpath("//label[text()='Black']")
#search_btn
filter_col.click()

In [ ]:
#filter_col=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
#search_btn
#filter_col.click()

In [193]:
shoe_urls=[]
url3=driver.find_elements_by_xpath("//ul[@class='results-base']//a")
for i in url3:
    shoe_urls.append(i.get_attribute('href'))
shoe_urls

['https://www.myntra.com/sports-shoes/nike/nike-men-black-renew-retaliation-tr-3-gym-shoes/14528478/buy',
 'https://www.myntra.com/sports-shoes/puma/puma-men-black-cell-fraction-fade-running-shoes/13484274/buy',
 'https://www.myntra.com/casual-shoes/nike/nike-men-black--white-blazer-low-77-vintage-leather-sneakers/14528040/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-unisex-black-project-rock-recruit-bsr-woven-design-training-shoes/14649166/buy',
 'https://www.myntra.com/casual-shoes/nike/nike-men-black-crater-remixa-sneakers/14528018/buy',
 'https://www.myntra.com/sports-shoes/adidas/adidas-women-black-solid-response-sr-running-shoes/12031710/buy',
 'https://www.myntra.com/casual-shoes/lacoste/lacoste-men-black-slip-on-sneakers/13430898/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-men-black-woven-design-charged-pursuit-2-se-running-shoes/14649136/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-men-black-charged-pursuit-2-se-running-shoes/14649126/buy',
 'https://www.myntra.com/sports-shoes/puma/puma-men-black-hybrid-fuego-running-shoes/10253451/buy',
 'https://www.myntra.com/casual-shoes/rare-rabbit/rare-rabbit-men-black-perforations-leather-brogues/14638312/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-men-black-phade-running-shoes/14649108/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-men-black-charged-rogue-25-reflect-running-shoes/14649122/buy',
 'https://www.myntra.com/sports-shoes/tarmak-by-decathlon/tarmak-by-decathlon-men-black-mesh-high-top-basketball-shoes/12992610/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-men-black-charged-assert-8-marble-running-shoes/14649054/buy',
 'https://www.myntra.com/sports-shoes/puma-hoops/puma-hoops-unisex-black-clyde-all-pro-basketball-shoes/13554332/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-men-black-charged-commit-3-training-shoes/14649128/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-unisex-black--grey-colourblocked-gs-sc-3-zero-iv-basketball-shoes/12247208/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-women-black-woven-design-charged-bandit-6-running-shoes/14649110/buy',
 'https://www.myntra.com/sports-shoes/puma/puma-women-black-velocity-nitro-running-shoes/13484140/buy',
 'https://www.myntra.com/casual-shoes/hush-puppies/hush-puppies-men-black-leather-slip-on-sneakers/12698526/buy',
 'https://www.myntra.com/casual-shoes/hush-puppies/hush-puppies-men-black-leather-slip-on-sneakers/12698534/buy',
 'https://www.myntra.com/sports-shoes/puma/puma-men-black-softride-rift-running-shoes/12699240/buy',
 'https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-leather-formal-oxfords/12435220/buy',
 'https://www.myntra.com/sports-shoes/forclaz-by-decathlon/forclaz-by-decathlon-men-grey-trekking-100-waterproof-mid-top-trekking-boots/14321736/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-women-black-woven-charged-rogue-25-colorshift-running-shoes/14649130/buy',
 'https://www.myntra.com/sports-shoes/adidas/adidas-women-black-supernova-running-shoes/12708514/buy',
 'https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-leather-formal-slip-ons/12452162/buy',
 'https://www.myntra.com/sports-shoes/reebok/reebok-men-black-woven-design-forever-floatride-energy-2-running-shoes/12033700/buy',
 'https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-formal-leather-monk-shoes/13065460/buy',
 'https://www.myntra.com/sports-shoes/puma/puma-women-black-eternity-nitro-running-shoes/13484354/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-men-black--grey-woven-design-sneakers/14533178/buy',
 'https://www.myntra.com/heels/metro/metro-women-black-solid-high-top-heeled-boots/12707596/buy',
 'https://www.myntra.com/sports-shoes/puma/puma-women-black-deviate-nitro-running-shoes/13484166/buy',
 'https://www.myntra.com/sports-shoes/quechua-by-decathlon/quechua-by-decathlon-men-black-leather-warm-snow-hiking-boots/12983992/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-women-black-leather-horsebit-loafers/14532934/buy',
 'https://www.myntra.com/casual-shoes/hush-puppies/hush-puppies-men-black-leather-derbys/13065422/buy',
 'https://www.myntra.com/sports-shoes/quechua-by-decathlon/quechua-by-decathlon-women-black-waterproof-country-walking-shoes-nh500-mid-wp/14321664/buy',
 'https://www.myntra.com/casual-shoes/under-armour/under-armour-men-black-hovr-sonic-strt-tech-woven-design-sneakers/14648434/buy',
 'https://www.myntra.com/sports-shoes/quechua-by-decathlon/quechua-by-decathlon-women-black-leather-mid-top-waterproof-hiking-shoes/13177070/buy',
 'https://www.myntra.com/casual-shoes/hm/hm-mens-black-leather-boots/14408000/buy',
 'https://www.myntra.com/casual-shoes/bugatti/bugatti-men-black-sneakers/13782356/buy',
 'https://www.myntra.com/sports-shoes/puma/puma-men-black-leader-vt-tech-running-shoes/12282038/buy',
 'https://www.myntra.com/sports-shoes/fila/fila-men-black-running-shoes/11984696/buy',
 'https://www.myntra.com/casual-shoes/puma-motorsport/puma-motorsport-unisex-grey-colourblocked-pl-mirage-sneakers/13554544/buy',
 'https://www.myntra.com/sports-shoes/forclaz-by-decathlon/forclaz-by-decathlon-men-black-and-grey-waterproof-hiking-shoes/12992524/buy',
 'https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-leather-formal-slip-ons/12435690/buy',
 'https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-formal-derbys-/13123142/buy',
 'https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-formal-leather-oxfords/13065452/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-men-black-textured-leather-driving-shoes/14533232/buy']

In [194]:
Shoe_brand=[]
for i in shoe_urls:
    driver.get(i)
    try:
        sb=driver.find_element_by_xpath("//div[@class='pdp-price-info']//h1")
        Shoe_brand.append(sb.text)
    except:
        pass
Shoe_brand

['Nike',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'ADIDAS',
 'Lacoste',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'RARE RABBIT',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'TARMAK By Decathlon',
 'UNDER ARMOUR',
 'PUMA Hoops',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'Puma',
 'Hush Puppies',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'ADIDAS',
 'Hush Puppies',
 'Reebok',
 'Hush Puppies',
 'Puma',
 'Geox',
 'Metro',
 'Puma',
 'Quechua By Decathlon',
 'Geox',
 'Hush Puppies',
 'Quechua By Decathlon',
 'UNDER ARMOUR',
 'Quechua By Decathlon',
 'H&M',
 'Bugatti',
 'Puma',
 'FILA',
 'PUMA Motorsport',
 'FORCLAZ By Decathlon',
 'Hush Puppies',
 'Hush Puppies',
 'Hush Puppies',
 'Geox']

In [195]:
len(Shoe_brand)

50

In [196]:
Shoe_des=[]
for i in shoe_urls:
    driver.get(i)
    try:
        sd=driver.find_element_by_xpath("//div[@class='pdp-description-container']//h1[2]")
        Shoe_des.append(sd.text)
    except:
        Shoe_des.append("--")
Shoe_des

['Men Black Renew Retaliation TR 3 Gym Shoes',
 'Men Black Cell Fraction Fade Running Shoes',
 "Men Black & White Blazer Low '77 Vintage Leather Sneakers",
 'Unisex Black Project Rock Recruit BSR Woven Design Training Shoes',
 'Men Black Crater Remixa Sneakers',
 'Women Black Solid Response SR Running Shoes',
 'Men Black Slip-On Sneakers',
 'Men Black Woven Design Charged Pursuit 2 SE Running Shoes',
 'Men Black Charged Pursuit 2 SE Running Shoes',
 'Men Black Hybrid Fuego Running Shoes',
 'Men Black Perforations Leather Brogues',
 'Men Black Phade Running Shoes',
 'Men Black Charged Rogue 2.5 Reflect Running Shoes',
 'Men Black Mesh High-Top Basketball Shoes',
 'Men Black Charged Assert 8 Marble Running Shoes',
 'Unisex Black Clyde All-Pro Basketball Shoes',
 'Men Black Charged Commit 3 Training Shoes',
 'Unisex Black & Grey Colourblocked GS SC 3 Zero IV Basketball Shoes',
 'Women Black Woven Design Charged Bandit 6 Running Shoes',
 'Women Black Velocity Nitro Running Shoes',
 'Men Black Leather Slip-On Sneakers',
 'Men Black Leather Slip-On Sneakers',
 'Men Black SOFTRIDE Rift Running Shoes',
 'Men Black Solid Leather Formal Oxfords',
 'Men Grey TREKKING 100 Waterproof Mid-Top Trekking Boots',
 'Women Black Woven Charged Rogue 2.5 Colorshift Running Shoes',
 'Women Black SUPERNOVA Running Shoes',
 'Men Black Solid Leather Formal Slip-Ons',
 'Men Black Woven Design Forever Floatride Energy 2 Running Shoes',
 'Men Black Solid Formal Leather Monk Shoes',
 'Women Black Eternity Nitro Running Shoes',
 'Men Black & Grey Woven Design Sneakers',
 'Women Black Solid High-Top Heeled Boots',
 'Women Black Deviate Nitro Running Shoes',
 'Men Black Leather Warm Snow Hiking Boots',
 'Women Black Leather Horsebit Loafers',
 'Men Black Leather Derbys',
 'Women Black Waterproof Country Walking Shoes NH500 Mid WP',
 'Men Black HOVR Sonic STRT Tech Woven Design Sneakers',
 'Women Black Leather Mid-Top Waterproof Hiking Shoes',
 'Mens Black Leather boots',
 'Men Black Sneakers',
 'Men Black Leader VT Tech Running Shoes',
 'Men Black Running Shoes',
 'Puma Motorsport Unisex Grey Colourblocked PL Mirage Sneakers',
 'Men Black and Grey Waterproof Hiking Shoes',
 'Men Black Solid Leather Formal Slip-Ons',
 'Men Black Solid Formal Derbys',
 'Men Black Solid Formal Leather Oxfords',
 'Men Black Textured Leather Driving Shoes']

In [197]:
len(Shoe_des)

50

In [198]:
Shoe_price=[]
for i in shoe_urls:
    driver.get(i)
    try:
        sp=driver.find_element_by_xpath("//span[@class='pdp-price']")
        Shoe_price.append(sp.text)
    except:
        Shoe_price.append("--")
        
Shoe_price

['Rs. 5995',
 'Rs. 6999',
 'Rs. 7195',
 'Rs. 9999',
 'Rs. 5495',
 'Rs. 5319',
 'Rs. 5525',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6499',
 'Rs. 7999',
 'Rs. 5499',
 'Rs. 6999',
 'Rs. 6599',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 6599',
 'Rs. 6299',
 'Rs. 6999',
 'Rs. 6499',
 'Rs. 5399',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 8099',
 'Rs. 5999',
 'Rs. 5399',
 'Rs. 7799',
 'Rs. 8249',
 'Rs. 5490',
 'Rs. 9749',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 5599',
 'Rs. 5669',
 'Rs. 9999',
 'Rs. 5499',
 'Rs. 5999',
 'Rs. 6399',
 'Rs. 5999',
 'Rs. 8499',
 'Rs. 5399',
 'Rs. 5579',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 5399',
 'Rs. 9999']

In [199]:
len(Shoe_price)

50

In [203]:
driver=webdriver.Chrome(r"chromedriver.exe")
url='https://www.myntra.com/shoes'
driver.get(url)

In [204]:
filter_price=driver.find_element_by_xpath("//label[text()='Rs. 5319 to Rs. 10479']")
#search_btn
filter_price.click()

In [205]:
filter_col=driver.find_element_by_xpath("//label[text()='Black']")
#search_btn
filter_col.click()

In [206]:
next_page=driver.find_element_by_xpath("//li[@class='pagination-next']")
#search_btn
next_page.click()

In [207]:
shoe_urls2=[]
url4=driver.find_elements_by_xpath("//ul[@class='results-base']//a")
for i in url4:
    shoe_urls2.append(i.get_attribute('href'))
shoe_urls2

['https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-formal-leather-oxfords/13065452/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-men-black-textured-leather-driving-shoes/14533232/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-men-black-leather-driving-shoes/11708730/buy',
 'https://www.myntra.com/casual-shoes/cole-haan/cole-haan-men-black-generation-zerogrand-stitchlite-sneakers/11052214/buy',
 'https://www.myntra.com/casual-shoes/under-armour/under-armour-men-black-victory-woven-design-sneakers/14647990/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-men-black-solid-leather-slip-on-sneakers/11107550/buy',
 'https://www.myntra.com/casual-shoes/puma/puma-unisex-black--mint-green-colourblocked-rs-connect-splash-trainer-sneakers/14826024/buy',
 'https://www.myntra.com/casual-shoes/jfontini/jfontini-men-black-loafers/13343594/buy',
 'https://www.myntra.com/casual-shoes/cole-haan/cole-haan-men-black-leather-grandpro-tennis-sneakers/11578284/buy',
 'https://www.myntra.com/formal-shoes/davinchi/davinchi-men-black-solid-formal-leather-slip-on-shoes/13376884/buy',
 'https://www.myntra.com/casual-shoes/jfontini/jfontini-men-black-leather-loafers/12681352/buy',
 'https://www.myntra.com/formal-shoes/bugatti/bugatti-men-black-textured-leather-formal-loafers/13782932/buy',
 'https://www.myntra.com/formal-shoes/louis-philippe/louis-philippe-men-black-textured-leather-formal-derbys/11722390/buy',
 'https://www.myntra.com/casual-shoes/bugatti/bugatti-men-black-perforated-slip-on-sneakers/13782408/buy',
 'https://www.myntra.com/casual-shoes/hush-puppies/hush-puppies-men-black-colourblocked-driving-shoes/12698504/buy',
 'https://www.myntra.com/formal-shoes/rare-rabbit/rare-rabbit-men-black-textured-leather-formal-derbys/14618152/buy',
 'https://www.myntra.com/sports-shoes/xtep/xtep-women-black-air-mega-energy-ring-running-shoes/12678986/buy',
 'https://www.myntra.com/heels/bugatti/bugatti-women-black-striped-mules/14008024/buy',
 'https://www.myntra.com/formal-shoes/rare-rabbit/rare-rabbit-men-black-leather-formal-slip-ons/14618150/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-women-black-leather-horsebit-loafers/14532934/buy',
 'https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-leather-formal-derbys/12435696/buy',
 'https://www.myntra.com/sports-shoes/xtep/xtep-women-black--white-running-shoes/13472550/buy',
 'https://www.myntra.com/heels/saint-g/saint-g-black-leather-block-sandals/14500492/buy',
 'https://www.myntra.com/sports-shoes/kiprun-by-decathlon/kiprun-by-decathlon-women-black-kiprun-long-2-running-shoes/13982182/buy',
 'https://www.myntra.com/formal-shoes/geox/geox-men-black-leather-formal-monks/10029399/buy',
 'https://www.myntra.com/heels/saint-g/saint-g-women-black-solid-leather-heeled-boots/12310282/buy',
 'https://www.myntra.com/casual-shoes/rare-rabbit/rare-rabbit-men-black-colourblocked-leather-derbys/14638310/buy',
 'https://www.myntra.com/sports-shoes/asics/asics-women-black-gel-lyte-iii-og-running-shoes/14389578/buy',
 'https://www.myntra.com/formal-shoes/jfontini/jfontini-men-black-textured-leather-formal-loafers/12682170/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-women-black-woven-design-charged-vantage-colorshift-running-shoes/14649018/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-women-black-charged-assert-8-running-shoes/14649216/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-women-black-woven-design-charged-impulse-shft-running-shoes/14649022/buy',
 'https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-formal-leather-derbys/13065426/buy',
 'https://www.myntra.com/formal-shoes/kenneth-cole/kenneth-cole-men-black-solid-leather-formal-derbys/12111710/buy',
 'https://www.myntra.com/formal-shoes/blackberrys/blackberrys-men-black-glossy-textured-leather-derbys/2442694/buy',
 'https://www.myntra.com/heels/saint-g/saint-g-women-black-solid-leather-heeled-boots/11216718/buy',
 'https://www.myntra.com/formal-shoes/hush-puppies/hush-puppies-men-black-solid-formal-leather-brogues/13065456/buy',
 'https://www.myntra.com/casual-shoes/bugatti/bugatti-women-black--silver-toned-mid-top-sneakers/13784156/buy',
 'https://www.myntra.com/flats/birkenstock/birkenstock-women-black--grey-gizeh-regular-width-flats/13097880/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-men-black-perforated-slip-on-sneakers/14533172/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-men-black--yellow-printed-slip-on-sneakers/14533240/buy',
 'https://www.myntra.com/casual-shoes/under-armour/under-armour-women-black-woven-design-charged-breathe-oil-slk-sportstyle-shoes/12247158/buy',
 'https://www.myntra.com/casual-shoes/rare-rabbit/rare-rabbit-men-black-leather-flat-boots/14937476/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-men-black-sneakers/14533234/buy',
 'https://www.myntra.com/sports-shoes/under-armour/under-armour-women-black-woven-design-charged-rogue-2-running-shoes/12247086/buy',
 'https://www.myntra.com/formal-shoes/kenneth-cole/kenneth-cole-men-black-solid-leather-formal-derbys/12140870/buy',
 'https://www.myntra.com/formal-shoes/louis-philippe/louis-philippe-men-black-leather-formal-slip-ons/10628174/buy',
 'https://www.myntra.com/casual-shoes/geox/geox-men-black-leather-driving-shoes/10029207/buy',
 'https://www.myntra.com/sports-shoes/xtep/xtep-men-black-textile-running-shoes/14003076/buy',
 'https://www.myntra.com/casual-shoes/heel--buckle-london/heel--buckle-london-men-black-solid-leather-boat-shoes/10878228/buy']

In [208]:
for i in shoe_urls2:
    driver.get(i)
    try:
        sb1=driver.find_element_by_xpath("//div[@class='pdp-price-info']//h1")
        Shoe_brand.append(sb1.text)
    except:
        pass
Shoe_brand

['Nike',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'ADIDAS',
 'Lacoste',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'RARE RABBIT',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'TARMAK By Decathlon',
 'UNDER ARMOUR',
 'PUMA Hoops',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'Puma',
 'Hush Puppies',
 'FORCLAZ By Decathlon',
 'UNDER ARMOUR',
 'ADIDAS',
 'Hush Puppies',
 'Reebok',
 'Hush Puppies',
 'Puma',
 'Geox',
 'Metro',
 'Puma',
 'Quechua By Decathlon',
 'Geox',
 'Hush Puppies',
 'Quechua By Decathlon',
 'UNDER ARMOUR',
 'Quechua By Decathlon',
 'H&M',
 'Bugatti',
 'Puma',
 'FILA',
 'PUMA Motorsport',
 'FORCLAZ By Decathlon',
 'Hush Puppies',
 'Hush Puppies',
 'Hush Puppies',
 'Geox',
 'Hush Puppies',
 'Geox',
 'Geox',
 'Cole Haan',
 'UNDER ARMOUR',
 'Geox',
 'Puma',
 'J.FONTINI',
 'Cole Haan',
 'DAVINCHI',
 'J.FONTINI',
 'Bugatti',
 'Louis Philippe',
 'Bugatti',
 'Hush Puppies',
 'RARE RABBIT',
 'Xtep',
 'Bugatti',
 'RARE RABBIT',
 'Geox',
 'Hush Puppies',
 'Xtep',
 'Saint G',
 'KIPRUN By Decathlon',
 'Geox',
 'Saint G',
 'RARE RABBIT',
 'ASICS',
 'J.FONTINI',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Kenneth Cole',
 'Blackberrys',
 'Saint G',
 'Hush Puppies',
 'Bugatti',
 'Birkenstock',
 'Geox',
 'Geox',
 'UNDER ARMOUR',
 'RARE RABBIT',
 'Geox',
 'UNDER ARMOUR',
 'Kenneth Cole',
 'Louis Philippe',
 'Geox',
 'Xtep',
 'Heel & Buckle London']

In [209]:
len(Shoe_brand)

100

In [210]:

for i in shoe_urls2:
    driver.get(i)
    try:
        sd1=driver.find_element_by_xpath("//div[@class='pdp-description-container']//h1[2]")
        Shoe_des.append(sd1.text)
    except:
        Shoe_des.append("--")
Shoe_des

['Men Black Renew Retaliation TR 3 Gym Shoes',
 'Men Black Cell Fraction Fade Running Shoes',
 "Men Black & White Blazer Low '77 Vintage Leather Sneakers",
 'Unisex Black Project Rock Recruit BSR Woven Design Training Shoes',
 'Men Black Crater Remixa Sneakers',
 'Women Black Solid Response SR Running Shoes',
 'Men Black Slip-On Sneakers',
 'Men Black Woven Design Charged Pursuit 2 SE Running Shoes',
 'Men Black Charged Pursuit 2 SE Running Shoes',
 'Men Black Hybrid Fuego Running Shoes',
 'Men Black Perforations Leather Brogues',
 'Men Black Phade Running Shoes',
 'Men Black Charged Rogue 2.5 Reflect Running Shoes',
 'Men Black Mesh High-Top Basketball Shoes',
 'Men Black Charged Assert 8 Marble Running Shoes',
 'Unisex Black Clyde All-Pro Basketball Shoes',
 'Men Black Charged Commit 3 Training Shoes',
 'Unisex Black & Grey Colourblocked GS SC 3 Zero IV Basketball Shoes',
 'Women Black Woven Design Charged Bandit 6 Running Shoes',
 'Women Black Velocity Nitro Running Shoes',
 'Men Black Leather Slip-On Sneakers',
 'Men Black Leather Slip-On Sneakers',
 'Men Black SOFTRIDE Rift Running Shoes',
 'Men Black Solid Leather Formal Oxfords',
 'Men Grey TREKKING 100 Waterproof Mid-Top Trekking Boots',
 'Women Black Woven Charged Rogue 2.5 Colorshift Running Shoes',
 'Women Black SUPERNOVA Running Shoes',
 'Men Black Solid Leather Formal Slip-Ons',
 'Men Black Woven Design Forever Floatride Energy 2 Running Shoes',
 'Men Black Solid Formal Leather Monk Shoes',
 'Women Black Eternity Nitro Running Shoes',
 'Men Black & Grey Woven Design Sneakers',
 'Women Black Solid High-Top Heeled Boots',
 'Women Black Deviate Nitro Running Shoes',
 'Men Black Leather Warm Snow Hiking Boots',
 'Women Black Leather Horsebit Loafers',
 'Men Black Leather Derbys',
 'Women Black Waterproof Country Walking Shoes NH500 Mid WP',
 'Men Black HOVR Sonic STRT Tech Woven Design Sneakers',
 'Women Black Leather Mid-Top Waterproof Hiking Shoes',
 'Mens Black Leather boots',
 'Men Black Sneakers',
 'Men Black Leader VT Tech Running Shoes',
 'Men Black Running Shoes',
 'Puma Motorsport Unisex Grey Colourblocked PL Mirage Sneakers',
 'Men Black and Grey Waterproof Hiking Shoes',
 'Men Black Solid Leather Formal Slip-Ons',
 'Men Black Solid Formal Derbys',
 'Men Black Solid Formal Leather Oxfords',
 'Men Black Textured Leather Driving Shoes',
 'Men Black Solid Formal Leather Oxfords',
 'Men Black Textured Leather Driving Shoes',
 'Men Black Leather Driving Shoes',
 'Men Black Generation ZeroGrand Stitchlite Sneakers',
 'Men Black Victory Woven Design Sneakers',
 'Men Black Solid Leather Slip-On Sneakers',
 'Unisex Black & Mint Green Colourblocked RS Connect Splash Trainer Sneakers',
 'Men Black Loafers',
 'Men Black Leather GrandPro Tennis Sneakers',
 'Men Black Solid Formal Leather Slip-On Shoes',
 'Men Black Leather Loafers',
 'Men Black Textured Leather Formal Loafers',
 'Men Black Textured Leather Formal Derbys',
 'Men Black Perforated Slip-On Sneakers',
 'Men Black Colourblocked Driving Shoes',
 'Men Black Textured Leather Formal Derbys',
 'Women Black AIR MEGA Energy Ring Running Shoes',
 'Women Black Striped Mules',
 'Men Black Leather Formal Slip-Ons',
 'Women Black Leather Horsebit Loafers',
 'Men Black Solid Leather Formal Derbys',
 'Women Black & White Running Shoes',
 'Black Leather Block Sandals',
 'Women Black Kiprun Long 2 Running Shoes',
 'Men Black Leather Formal Monks',
 'Women Black Solid Leather Heeled Boots',
 'Men Black Colourblocked Leather Derbys',
 'Women Black GEL-Lyte III OG Running Shoes',
 'Men Black Textured Leather Formal Loafers',
 'Women Black Woven Design Charged Vantage Colorshift Running Shoes',
 'Women Black Charged Assert 8 Running Shoes',
 'Women Black Woven Design Charged Impulse Shft Running Shoes',
 'Men Black Solid Formal Leather Derbys',
 'Men Black Solid Leather Formal Derbys',
 'Men Black Glossy Textured Leather Derbys',
 'Women Black Solid Leather Heeled Boots',
 'Men Black Solid Formal Leather Brogues',
 'Women Black & Silver-Toned Mid-Top Sneakers',
 'Women Black & Grey Gizeh Regular Width Flats',
 'Men Black Perforated Slip On Sneakers',
 'Men Black & Yellow Printed Slip-On Sneakers',
 'Women Black Woven Design Charged Breathe OIL SLK Sportstyle Shoes',
 'Men Black Leather Flat Boots',
 'Men Black Sneakers',
 'Women Black Woven Design Charged Rogue 2 Running Shoes',
 'Men Black Solid Leather Formal Derbys',
 'Men Black Leather Formal Slip-Ons',
 'Men Black Leather Driving Shoes',
 'Men Black Textile Running Shoes',
 'Men Black Solid Leather Boat Shoes']

In [211]:
len(Shoe_des)

100

In [212]:

for i in shoe_urls2:
    driver.get(i)
    try:
        sp1=driver.find_element_by_xpath("//span[@class='pdp-price']")
        Shoe_price.append(sp1.text)
    except:
        Shoe_price.append("--")
        
Shoe_price

['Rs. 5995',
 'Rs. 6999',
 'Rs. 7195',
 'Rs. 9999',
 'Rs. 5495',
 'Rs. 5319',
 'Rs. 5525',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 6499',
 'Rs. 7999',
 'Rs. 5499',
 'Rs. 6999',
 'Rs. 6599',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 6599',
 'Rs. 6299',
 'Rs. 6999',
 'Rs. 6499',
 'Rs. 5399',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 8099',
 'Rs. 5999',
 'Rs. 5399',
 'Rs. 7799',
 'Rs. 8249',
 'Rs. 5490',
 'Rs. 9749',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 5599',
 'Rs. 5669',
 'Rs. 9999',
 'Rs. 5499',
 'Rs. 5999',
 'Rs. 6399',
 'Rs. 5999',
 'Rs. 8499',
 'Rs. 5399',
 'Rs. 5579',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 5399',
 'Rs. 9999',
 'Rs. 5399',
 'Rs. 9999',
 'Rs. 9990',
 'Rs. 9599',
 'Rs. 5999',
 'Rs. 9490',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 8799',
 'Rs. 6990',
 'Rs. 7990',
 'Rs. 6399',
 'Rs. 5999',
 'Rs. 6399',
 'Rs. 6299',
 'Rs. 6999',
 'Rs. 5599',
 'Rs. 5999',
 'Rs. 9999',
 'Rs. 5999',
 'Rs. 8999',
 'Rs. 5699',
 'Rs. 10355',
 'Rs. 7006',
 'Rs. 7999',
 'Rs. 9900',
 'Rs. 6499',
 'Rs. 6299',
 'Rs. 6990',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 6299',
 'Rs. 6293',
 'Rs. 5495',
 'Rs. 6500',
 'Rs. 5399',
 'Rs. 5999',
 'Rs. 5990',
 'Rs. 6749',
 'Rs. 8249',
 'Rs. 6299',
 'Rs. 9999',
 'Rs. 7499',
 'Rs. 5599',
 'Rs. 6293',
 'Rs. 6229',
 'Rs. 9999',
 'Rs. 5399',
 'Rs. 6293']

In [213]:
len(Shoe_price )

100

In [214]:
Myntra_shoe=pd.DataFrame({})
Myntra_shoe['Brand']=Shoe_brand
Myntra_shoe['Description']=Shoe_des
Myntra_shoe['Price']=Shoe_price 
Myntra_shoe

,Brand,Description,Price
0,Nike,Men Black Renew Retaliation TR 3 Gym Shoes,Rs. 5995
1,Puma,Men Black Cell Fraction Fade Running Shoes,Rs. 6999
2,Nike,Men Black & White Blazer Low '77 Vintage Leath...,Rs. 7195
3,UNDER ARMOUR,Unisex Black Project Rock Recruit BSR Woven De...,Rs. 9999
4,Nike,Men Black Crater Remixa Sneakers,Rs. 5495
...,...,...,...
95,Kenneth Cole,Men Black Solid Leather Formal Derbys,Rs. 6293
96,Louis Philippe,Men Black Leather Formal Slip-Ons,Rs. 6229
97,Geox,Men Black Leather Driving Shoes,Rs. 9999
98,Xtep,Men Black Textile Running Shoes,Rs. 5399
99,Heel & Buckle London,Men Black Solid Leather Boat Shoes,Rs. 6293

Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [144]:
driver=webdriver.Chrome(r"chromedriver.exe")#Get the url page
url='https://www.amazon.in/'
driver.get(url)

In [145]:
search_field=driver.find_element_by_id('twotabsearchtextbox')#Seach field for laptop 

search_field.send_keys("Laptop")

In [146]:
search_btn5=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")#Submit search button

search_btn5.click()

In [147]:
filteri7=driver.find_element_by_xpath("//span[text()='Intel Core i7']")#Filter by text

filteri7.click()

In [148]:
filteri9=driver.find_element_by_xpath("//span[text()='Intel Core i9']")#Filter by text
#search_btn
filteri9.click()

In [149]:
Laptop_urls=[]#urls for laptops
url10=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']//a")
for i in url10[:10]:
    Laptop_urls.append(i.get_attribute('href'))
len(Laptop_urls)

10

In [16]:
Title=[]#Scrapping title by xpath
for i in Laptop_urls:
    driver.get(i)
    try:
        ti=driver.find_element_by_xpath("//h1[@class='a-size-large a-spacing-none']//span")
        Title.append(ti.text)
    except:
          Title.append('--')
        
len(Title)

10

In [17]:
Title

['Lenovo Legion 7 10th Gen Intel Core i9 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU006HIN',
 'Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14" (35.56cm) FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39.6 cm) IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1660 Ti 6GB GDDR6/Black/1.86Kg), 10SDR-1280IN',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-10870H 10th Gen, NVIDIA GeForce GTX 1650 4GB Graphics, Gaming Laptop(8GB/512GB SSDWindows 10/Gray/2.3 Kg), FX566LH-HN255T',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Samsung Galaxy Book Flex 13.3” | Samsung Laptop with QLED Display and Intel Core i7 Processor | Galaxy Book Flex Laptop with Long Battery Life and Bluetooth-Enabled S Pen | (NP930QCG-K01US)',
 '(Renewed) Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7']

In [47]:
Rating=[]#Scrapping Rating by xpath
for i in Laptop_urls:
    driver.get(i)
    try:
        Ra=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Rating.append(Ra.text)
    except:
        pass
        
Rating

['2.9 out of 5',
 '4.5 out of 5',
 '4.3 out of 5',
 '3.6 out of 5',
 '4.4 out of 5',
 '4 out of 5',
 '4.1 out of 5',
 '4.5 out of 5',
 '3 out of 5',
 '4.4 out of 5']

In [43]:
Price=[]#Scrapping price by xpath
for i in Laptop_urls:
    driver.get(i)
    try:
        pi=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        Price.append(pi.text)
    except:
        Price.append('--')
        
Price

['₹1,80,990.00',
 '₹1,07,990.00',
 '₹84,990.00',
 '₹81,990.00',
 '--',
 '₹71,990.00',
 '₹1,09,990.00',
 '₹1,07,990.00',
 '₹1,29,990.00',
 '₹82,990.00']

In [48]:
AmazonData=pd.DataFrame({})#Making dataframe
AmazonData['Title']=Title
AmazonData['Rating']=Rating
AmazonData['Price']=Price
AmazonData

,Title,Rating,Price
0,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,2.9 out of 5,"₹1,80,990.00"
1,Lenovo Yoga 7 11th Gen Intel Core i7-1165G7 14...,4.5 out of 5,"₹1,07,990.00"
2,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....",4.3 out of 5,"₹84,990.00"
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,3.6 out of 5,"₹81,990.00"
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.4 out of 5,--
5,"ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...",4 out of 5,"₹71,990.00"
6,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,4.1 out of 5,"₹1,09,990.00"
7,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4.5 out of 5,"₹1,07,990.00"
8,Samsung Galaxy Book Flex 13.3” | Samsung Lapto...,3 out of 5,"₹1,29,990.00"
9,(Renewed) Life Digital Laptop 15.6-inch (39.62...,4.4 out of 5,"₹82,990.00"